/*----------------ОБНУЛЕНИЕ-------------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    color: black;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

/* --HEADER------------------------------------------------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    flex-direction: column;
    min-height: 160px;
}

.header__logo {
    margin-top: 50px;
    font-size: 28px;
    font-weight: bold;
}

.header__menu {
    display: flex;
}

.menu__list {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    marker: none;
}

.menu__item {
    margin: 20px 10px;
    font-size: 20px;
}

.menu__item a {
    text-decoration: none;
    outline: none;
    color: black;
}

.menu__item a:hover {
    cursor: pointer;
    color: rgb(119, 118, 118);
}

.menu__item:first-child {
    margin: 20px 0px;
}


.main {
    margin-top: 160px;
}

.block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block__header {
    font-size: 24px;
    font-weight: bold;
}

.block__body {
    font-size: 16px;
}

.block__text {
    margin: 30px 0px;
}

.block__text p {
    font-size: 18px;
}

.block__list {}

.block__list-item {
    list-style: disc;
    margin: 5px 0px;
}

.block__table {
    border: 1px solid black;
}

.table__cell {
    border: 1px solid black;
    border-collapse: collapse;
}


.footer {
    width: 100%;
    min-height: 100px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}